@import url('http://fonts.googleapis.com/css?family=Merriweather|Bree+Serif');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
	font-family: $font-primary;
	font-size: 1.2rem;
	line-height: 160%;
	background: $paleyellow;
	color: $darkblue;
}

#{headings()} {
	font-family: $font-secondary;
	font-weight: normal;
	color: $darkgray;
	@include text-shadow($paleyellow 1px 1px);
}

h1 {
	font-size: 2.2em;
	color: lighten($darkblue, 25);
	margin-bottom: 0.4rem;
	border-bottom: 1px solid $lightgray;
	padding-top: 10px;
}

h2 {
	font-size: 1.5rem;
	line-height: 100%;
	margin: 20px 0 0 0;
	color: $orange;
}

h3 {
	font-size: 1.8rem;
	line-height: 60%;
	color: $orange;
}

a {
	text-decoration: underline;
	color: $mediumgray;
	&:hover {
		color: $orange;
	}
}

p {
	margin-bottom: 10px;
}

.small {
	font-size: 1rem;
	color: $blue;
}