// Susy ---------------------------------
$total-columns : 12;
$column-width  : 4em;
$gutter-width  : 1em;
$grid-padding  : $gutter-width;

@include border-box-sizing;

$small  : 30em;
$medium : 47em;
$large  : 75em;


// Content Layout -------------------------------
.layout { 
	@include container;
	padding: 0 3%;

// Primary -------------------------------
	.primary {
		margin-top: 0.2em;
		@include at-breakpoint($medium) {
			@include span-columns(8,12);

			#nextmeeting { 
				@include border-radius(20px);
				color: $paleyellow;
				margin-bottom: 10px;
				margin-top: 10px;
				background: $cyan;
				
				h1 {
					color: darken($cyan, 15);
					border: none;
					text-shadow: none;
					margin-bottom: 20px;
				} //h1

				a {
					color: $darkblue;
				} //a

			} //nextmeeting

		} //medium layout
	} //primary layout

	// Secondary Layout -------------------------------
	.secondary {
		@include at-breakpoint($medium) {
			@include span-columns(4 omega, 12);
			font-size: 1.1rem;
			h1 {
				font-size: 1.8rem;
				color: $orange;
			} //h1

		} //medium layout
	} //secondary

} //Content Layout

//Header -------------------------------
header {
	img {
		width: 95%;
		margin: 2.5%;
		max-width: 500px;
		margin-bottom: 0;
	}

	.hero {
		width: 100%;
		@include at-breakpoint($medium) {
			@include single-transition(all, 1s, ease-out); 
			position: relative;
			display: block;
			width: 100%;
			height: 450px;
			@include background(linear-gradient(bottom left, rgba($darkerblue, 0.6), rgba($darkerblue, 0)), image-url('misc/helper.jpg'));
			background-position: center center;
			@include background-size(cover);
			background-repeat: no-repeat;
			margin: 0 auto;

			.branding {
				position: absolute;
				bottom: 0;
			} //branding
		} //medium
	} //hero
} //header

//Navigation -------------------------------
.navigation {
	background: lighten($darkblue, 15);
	ul.nav {
		@include at-breakpoint($small) {
			@include horizontal-list;
		}
		li {
			i {
				color: lighten($yellow, 20);
				padding-right: 0.5em;
			} //icons

			a {
				@include single-transition(all, 0.5s, ease-out);
				display: block;
				text-decoration: none;
				padding: 5px 10px;
				color: $paleyellow;
				&:hover {
					background: $orange;
					a {
						color: lighten($yellow, 30);
					}
				}
			} //a
		} //li
	} // ul.nav
} //navigation

//Speakers List --------------------------
.speakerslist {
	img {
		@include border-radius;
		width: 120px;
		float: left;
		margin: {
			right: 10px;
			bottom: 10px;
		} //margin
	} //img

	i {
		padding-right: 15px;
	}

	@include at-breakpoint($medium) {
		text-align: center;
		@include background(linear-gradient(top, lighten($darkblue, 3), $darkblue));
		overflow: hidden;
		color: rgba($paleyellow, 0.5);
		padding-bottom: 10px;
		#{headings()} {
			text-shadow: none;
			border-bottom: none !important;
		} //headings

		h1 {
			color: $green;
			font-size: 2.6rem;
			line-height: 1em;
			@include at-breakpoint($large) {
				font-size: 4rem;
				line-height: 1em;
			} //large
		} //h1

		h3 { 
			color: lighten($yellow, 10);
			line-height: 0.9rem;
		} //h3

		.small {
			padding-top: 0.4em !important;
			line-height: 1em;
			color: ligthen($darkblue, 30);
			a {
				color: ligthen($darkblue, 30);
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				} //hover
			} //a
		} //small
		
		img.speaker {
			float: none;
			width: 40%;
			max-width: 170px;
			margin: 0 auto;
			@include border-radius(50%);
		} //img.speaker

		.small {
			display: block;
		} //small

		p:nth-of-type(2) {
			font-weight: 200 !important;
			text-align: left;
			font-size: 0.8em;
			line-height: 0;
			@include single-transition(all, 0.3s, ease-out);
			opacity: 0;
		} //p

		&:hover {
			p:nth-of-type(2) {
				line-height: 1.5em;
				opacity: 1;
			}
		} //hover

		.artist {
			@include span-columns(4, 12);
		} //artist

		.artist:nth-of-type(3) {
			@include span-columns(4 omega, 12);
		} //artist

	} //medium
} //speakerslist

//Footer -------------------------------
footer {
	color: $paleyellow;
	background: lighten($darkblue, 3);
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 100px;
}